<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/ccs/accueil.css">
  <title>Accueil</title>
</head>
<body>
  <h1>Bienvenue sur la page d'accueil</h1>
  <nav>
    <a href="/">|  Accueil  |</a>
    <a href="/services">|  Nos services  |</a>
    <a href="/contact">|  Contactez-nous    |</a>
  </nav>
<div id="accueil">

    <section id="one">
        <br>
        <br>
        <h2>        À propos de nous</h2>
        <p>    Nous sommes une entreprise dédiée à </p>
        <p>    fournir des solutions innovantes dans</p>
        <p>    divers domaines.</p>
      </section>

      <br>
--------------------------------------------------------------
      <section id="two">
        <br>
        <br>
        <h2>        Dernières Actualités</h2>
        <p>    Découvrez nos derniers projets et</p>
        <p>    réalisations passionnants.</p>
      </section>
      <br>
--------------------------------------------------------------
      <section id="tree">
        <br>
        <br>
        <h2>        Pourquoi nous choisir?</h2>
        <p>    Nous mettons l'accent sur la qualité, </p>
        <p>    l'innovation et la satisfaction du client.</p>
      </section>

</div>
  
</body>
</html>
