<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/ccs/contact.css">
  <title>Contactez-nous</title>
</head>
<body>
  <h1>Contactez-nous</h1>
  <nav>
    <a href="/">|  Accueil  |</a>
    <a href="/services">|  Nos services  |</a>
    <a href="/contact">|  Contactez-nous    |</a>
  </nav>
  <div id="contact">

    <section id="one">
        <br>
        <br>
        <h2>Nous Contacter</h2>
        <p>N'hésitez pas à nous contacter pour toute question ou demande d'information.</p>
        <p>Email: contact@monprojet.com</p>
        <p>Téléphone: +33 123 456 789</p>
      </section>
-----------------------------------------------------------------------------------------------------
      <section id="two">
        <br>
        <br>
        <h2>    Adresse</h2>
        <p>    123 Rue de l'Exemple, 75000 Paris, France</p>
      </section>
      <br>
-----------------------------------------------------------------------------------------------------
      <section id="tree">
        <br>
        <br>
        <h2>    Heures de travail</h2>
        <p>    Nous sommes disponibles du lundi au vendredi, de 9h à 17h.</p>
      </section>

  </div>
  
</body>
</html>
