<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/ccs/service.css">
  <title>Nos services</title>
</head>
<body>
  <h1>Découvrez nos services</h1>
  <nav>
    <a href="/">|  Accueil  |</a>
    <a href="/services">|  Nos services  |</a>
    <a href="/contact">|  Contactez-nous    |</a>
  </nav>

  <div id="services">
    <br>
    <br>
    <section id="one">
        [demo-card]
        <br>
        <br>
        <h2>Service 1</h2>
        <p>Description du service 1. </p>
      </section>
      <br>
      <br>
      <section id="two">
        [demo-card]
        <br>
        <br>
        <h2>    Service 2</h2>
        <p>    Description du service 2. </p>
      </section>
      <br>
      <br>
      <section id="tree">
        [demo-card]
        <br>
        <br>
        <h2>    Service 3</h2>
        <p>    Description du service 3. </p>
      </section>

  </div>
  
</body>
</html>
