#contact{

    }
    
    #one{
        color: rgb(255, 127, 234);
        margin: 10px;
        padding: 10px;
    }
    
    #two{
        color: aquamarine;
        margin: 10px;
        padding: 10px;
    }
    
    #tree{
        color: yellow;
        margin: 10px;
        padding: 10px;
    }